/*CONTORNOS: https://www.w3schools.com/css/css_outline.asp */
.contorno {
    border: 2px solid black;
    outline: #4CAF50 solid 10px;
    margin: auto;  
    padding: 20px;
    text-align: center;
  }

  p {outline-color:red;}

  p.dotted {outline-style: dotted;}
  p.dashed {outline-style: dashed;}
  p.solid {outline-style: solid;}
  p.double {outline-style: double;}
  p.groove {outline-style: groove;}
  p.ridge {outline-style: ridge;}
  p.inset {outline-style: inset;}
  p.outset {outline-style: outset;}

  p.ex1 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: lightseagreen;
    outline-width: thin;
  }
  
  p.ex2 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: lightseagreen;
    outline-width: medium;
  }
  
  p.ex3 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: lightseagreen;
    outline-width: thick;
  }
  
  p.ex4 {
    border: 1px solid black;
    outline-style: solid;
    outline-color: lightseagreen;
    outline-width: 4px;
  }

  p.ex5{
    margin: 30px;
    background: mediumslateblue;
    border: 1px solid black;
    outline: 1px solid rgb(0, 255, 42);
    outline-offset: 15px;
  }